<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb005454.manuja.mainmenu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".checkOut"></activity>
        <activity android:name=".viewDetailTrouser" />
        <activity android:name=".viewDetailsKidsblk" />
        <activity android:name=".changePassword" />
        <activity android:name=".modifyPassword" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityGents" />
        <activity android:name=".Kids" />
        <activity android:name=".Ladies" />
        <activity android:name=".abtUs" />
        <activity
            android:name=".logIn"
            android:label="Style Omega Fashion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>